<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/logo.jpg" style="display: inline-block;" id="nav-bar-logo">
          <span style="display: inline-block;">Weddin Planner</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Deals and offers <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Awards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Giveawys</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Explore Destinations</a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavRight" ml-auto>
          <ul class="navbar-nav" id="nav-item-right" ml-auto>
            <li class="nav-item" >
              <button class="btn btn-outline-dark" id="register" href="#" ml-auto>Register</button>
            </li>

            <li class="nav-item">
              <button class="btn btn-outline-dark" id="login" href="#" ml-auto>Login</button>
            </li>
          </ul>
        </div>
      </nav>
</div>
