<div class="explore" id="explora">

  <div class="container">
    <br>
    <h1 data-aos="fade-down" align="center">
      <span class="a" id="WeddingDealLabel"> Wedding Deals</span>
    </h1 >
    <br>
    <div class="card-group" id="ex-1" >
        <div class="card" data-aos="zoom-in"*ngFor="let image of visibleImages1">
            <a [routerLink]="['/image',image.id]">
           <img class="card-img-top" src="{{image.url}}"  height="150px" width="100px" alt="Card image cap" >
           </a>
           <div class="card-body">
              <h5 class="card-title">{{image.title}}</h5>
              <pre class="card-text"> {{image.category}}    {{image.price}}</pre>
            </div>

          </div>

    </div>
    <div class="card-group" id="ex-2">
        <div class="card" data-aos="zoom-in"*ngFor="let image of visibleImages2">
            <a [routerLink]="['/image',image.id]">
           <img class="card-img-top" src="{{image.url}}"  height="180px" width="120px" alt="Card image cap" >
           </a>
           <div class="card-body">
              <h5 class="card-title">{{image.title}}</h5>
              <p class="card-text">{{image.category}}</p>
            </div>

          </div>

    </div>



  </div>
</div>
